{% extends 'base.html' %}

{% block content %}
<div class="full-heigt">
	<div class="cetered centered-hard">
		<div class=" info-block" style="border-radius: 0.3rem .3rem  0.3rem 0rem; padding: 1rem 1rem 0rem 1rem">
			<div class="info-block-colored-title-top">
				<h2>
					login
				</h2>
			</div>
			<div style="padding: 1rem 0rem 1rem 0rem;">
				{% if notification %}
				<div>
					 <strong>{{ notification }}</strong>
				</div>
				{% endif %}
				<form method="post">
					{{ form.as_p }}
					{% csrf_token %}
					<br>
					<h3>
						<input type="submit" value="login" class="button-for-light-back long-but">	
					</h3>
				</form>
			</div>
			<div class="right-addition-to-info-block google-back">
				<a href=""><h3>G</h3></a>
			</div>
		</div>
		<div class="inline-bastards">
			<div class="info-block-addition">
				or <a href="{% url 'users:register'%}">register</a>
			</div>	
		</div>


	</div>
</div>
{% endblock %}