{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block content %}
<div class="full-heigt">
	<div class="cetered centered-hard">
		<div class="info-block tight-15" style="border-radius: 0.3rem .3rem  0.3rem 0rem; padding: 1rem 1rem 0.6rem 1rem">
			<div class="info-block-colored-title-top">
				<h2>
					Регистрация
				</h2>
			</div>
			<div>
				{% if notification %}
				<div class="notification">
					 <strong>{{ notification }}</strong>
				</div>
				{% endif %}

				<form method="post">
					<br>
					{{ form.username }}
					{{ form.email }}
					{{ form.password1 }}
					{{ form.password2 }}
					{% csrf_token %}
					<br>
					
					<input type="submit" value="Зарегистрироаться" class="button-for-light-back long-but">
				</form>
			</div>	
		</div>
		<div class="right-addition-to-info-block google-back">
			<a href=""><h3>G</h3></a>
		</div>

		<div class="info-block-addition">
			<a href="{% url 'users:login'%}">Войти</a>
		</div>

	</div>

</div>

{% endblock %}