{% extends 'prof_base.html' %}

{% block title %}
	Bonus
{% endblock %}

{% block map-display %}
	<h2>
		Получите бонус
	</h2>
{% endblock %}

{% block subcontent %}
	<div class="variable-show">
		<div>
			<h2>{{ tx.bonus0 }}</h2>
		</div>
		<div>
			{{ tx.bonus1 }}
		</div>
	
	</div>
	<div class="variable-show">
		<div>
			<h3>
				{{ tx.bonus2 }}
			</h3>	
		</div>
		<div class="numeric-list">
			<div>
				{{ tx.bonus3 }}
			</div>
			<div>
				{{ tx.bonus4 }}
			</div>
			<div>
				{{ tx.bonus5 }}
				Скопируйте ссылку на видео или рекламный пост и вставьте ее в поле справа: "Ссылка на запись".
			</div>
			<div>
				{{ tx.bonus6 }}
			</div>
		</div>
	</div>
{% endblock %}