{% extends 'prof_base.html' %}

{% block title %}
	Мои депозиты
{% endblock %}

{% block map-display %}
	<h2>
		Мои депозиты
	</h2>
{% endblock %}


{% block subcontent  %}
<div class="variable-show tight-30">
	<div>
		<h3>
			{{ tx.deps0 }}
		</h3>	
	</div>
	<div>
		<form method="post">
			<div id="is_empty" class="notification-yellow">
			</div>
			{% if notification %}
			<div class="notification">
				{{ notification }}
			</div>
			{% endif %}
			<div>
				{{ tx.deps1 }}
				<div>
					{{ form.source }}
				</div>
			</div>
			<div>
				{{ tx.deps2 }}
				<div>
					{{ form.amount }}
				</div>
			</div>
			<div>
				{{ tx.deps3 }}
				<div>
					{{ form.end }}
				</div>
			</div>
		{% csrf_token %}
			<input class="button-for-light-back" value="Реинвест" type="submit">	
		</form>
	</div>
</div>
<div class="variable-show">
	<div>
		<h3>
			{{ tx.deps4 }}
		</h3>	
	</div>
	<div class="four-columns">
		<div>
			{{ tx.deps5 }}
		</div>
		<div>
			{{ tx.deps6 }}
		</div>
		<div>
			{{ tx.deps7 }}
		</div>
		<div>
			{{ tx.deps8 }}
		</div>
		{% for dep in deposits %}
			<div>
				{{ dep.created.year }}.{{ dep.created.month }}.{{ dep.created.day }}
			</div>
			<div>
				{{ dep.amount }}
			</div>
			<div>
				date
			</div>
			<div>
				work
			</div>
		{% endfor %}
	</div>
</div>

<script>
	var place = document.getElementById('is_empty');
	var choices = document.getElementById('id_source');
	if (choices.length == 0){
		place.innerHTML = 'Выбор появиться после того как пополните один из депозитов';
	} else { 
		place.style.display = 'none'
	}
</script>
{% endblock %}
