{% extends 'prof_base.html' %}

{% block title %}
	Мои депозиты
{% endblock %}

{% block map-display %}
	<h2>
		Мои депозиты
	</h2>
{% endblock %}


{% block subcontent  %}
<div class="variable-show tight-30">
	<div>
		<h3>
			Реинвест
		</h3>	
	</div>
	<div>
		<div>
			Выберете план
			<div>
				----
			</div>
		</div>
		<div>
			Сумма
			<div>
				----
			</div>
		</div>
		<div class="button-for-light-back" style="width: fit-content">
			Реинвест
		</div>
	</div>
</div>


<div class="variable-show">
	<div>
		<h3>
			Депозиты
		</h3>	
	</div>
	<div class="four-columns">
		<div>
			Дата вклада
		</div>
		<div>
			Сумма
		</div>
		<div>
			Дата окончания
		</div>
		<div>
			Статус
		</div>
	</div>
</div>
{% endblock %}
