{% extends 'prof_base.html' %}

{% block title %}
	Мои партнеры
{% endblock %}

{% block subcontent  %}
<div class="three-columns">
	<div class="variable-show span-two">
		<div>
			<h2>
				Партнерский Уровень
			</h2>	
		</div>
		<div>
			<div>
				Вы можете повысить статус своей партнерской программы и получать более высокие проценты от своих партнеров
			</div>
			<br>
			<div class="button-for-light-back" style="width: fit-content;">
				Повысить статус
			</div>	
		</div>	
	</div>

	<div class="variable-show">
		<div>
			<h3>
				Моя рефиральная ссылка
			</h3>	
		</div>
		<div>
			<div>
				<h3>
					<a href="{% url 'users:register' %}{{ referal.link }}">Ссылка</a>
				</h3>
				<textarea id="ref_link">{{ request.get_host }}{% url 'users:register' %}{{ referal.link }}</textarea>
			</div>
			<br>
			<input id="ref_link_but" class="button-for-light-back" type="submit" value="Копировать">
		</div>	
	</div>	
	<div class="variable-show span-three">
		<div>
			Ваши 
		</div>
		<div class="two-columns">
			<div>
				Логин
			</div>
			<div>
				E-Mail	
			</div>
			{% for prof in ref_profs %}
				<div>
					{{ prof.user }}
				</div>
				<div>
					{{ prof.user.email }}
				</div>
			{% endfor %}
		</div>
	</div>
	
</div>

<script>
	var link = document.getElementById('ref_link');
	var but = document.getElementById('ref_link_but');

	var copy_ref = function(e) {
		let ele = document.querySelector('#ref_link');
		ele.select();
		ele.setSelectionRange(0, 9999)/
		document.execCommand('copy')
	};

	link.onclick = copy_ref
	but.onclick = copy_ref
</script>
{% endblock %}