{% extends 'prof_base.html' %}

{% block title %}
	{{ profile.user.username|title }}
{% endblock %}

{% block subcontent %}
<div class="three-columns destroy-grid">
	<div class="variable-show">
		<div>
			<h2>
				{{ tx.profile0 }}
			</h2>	
		</div>
		<div>
			<div>
				<div>
					<h4>
						{{ tx.profile1 }}
					</h4>
					<div>
						{{ profile.partner_status.title|title }}
					</div>
				</div>
			</div>
			<dir>
				<h4>
					Следующий уровень {{ next_level.title|title }} начнется с:
				</h4>
				{{ next_level.minimum_amount }}
			</dir>	
		</div>
	</div>
	<div class="variable-show">
		<div>
			<h3>
				{{ tx.profile4 }}
			</h3>	
		</div>
		<div>
			<div>
				<h4>
					{{ tx.profile5 }}
				</h4>
				{{ profile.wallet.amount }}p
			</div>	
			<div>
				<h4>
					{{ tx.profile6 }}
				</h4>
				{{ profile.wallet.get_deposits_summ }}р
			</div>

			<div>
				<h4>
					{{ tx.profile7 }}
				</h4>
				{{ profile.wallet.get_withdraw_summ }}
			</div>
	
		</div>
	</div>
	<div class="variable-show">
		<div>
			<h3>
				{{ tx.profile8 }}
			</h3>	
		</div>
		<div>
			<div>
				<h4>
					{{ tx.profile9 }}
				</h4>
				{{ profile.invited.all.count }} чел.
			</div>
			<div>
				<h4>
					{{ tx.profile10 }}
				</h4>
				{{ profile.wallet.get_partners_summ }} р
			</div>
	
		</div>
	</div>	
</div>
<div>
	<!-- <h2> -->
		<!-- {{ tx.profile11 }} -->
	<!-- </h2> -->
</div>
<script>
	// javascript:location.reload(true)
</script>
{% endblock %}