{% extends 'prof_base.html' %}

{% block title %}
	Настройки
{% endblock %}

{% block map-display %}
	<h2>Настройки</h2>
{% endblock %}


{% block subcontent  %}
	<h1>Настройка кошельков</h1>
	{% for form in forms %}
	<div class="variable-show tight-30">
		<div>
			<h3>{{ form.platform }}</h3>
		</div>
		<div>
			<form action="{% url 'users:save_platform' form.platform form.obj_id %}" method="post">
				{{ form.form.as_p }}
				{% csrf_token %}
				<input type="submit" class="button-for-light-back" value="Сохранить">
			</form>
	
		</div>

	</div>
	{% endfor %}



{% endblock %}