{% extends 'prof_base.html' %}

{% block title %}
	Пополнение
{% endblock %}

{% block map-display %}
	<h2>
		Пополнение
	</h2>
{% endblock %}


{% block subcontent  %}
	<div class="three-columns destroy-grid">
		<div class="variable-show span-two">
			<div>
				<h2>
					Пополниет баланс
				</h2>			
			</div>
			<div>
				{% if notification %}
				<div class="notification {{ notification_class }}">
					<div>
						{{ notification }}
					</div>
				</div>
				<br>
				{% endif %}
			

				<div>
					<form method="POST">
						<div class="three-columns">
							<div>
								размер: 
							</div>
							<div class="span-two">
								{{ form.amount }}
							</div>
							<div>
								Депозит:	
							</div>
							<div class="span-two">
								{{ form.deposit_type }}
							</div>
							<div>
								От куда: 
							</div>
							<div class="span-two">
								{{ form.source }}
							</div>
	
						</div>
						{% csrf_token %}
						<div>
							<br>
							<input type="submit" value="Пополнить" class="button-for-light-back">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="variable-show">
			<div>
				<h3>
					Расчет прибыли
				</h3>					
			</div>
			<div>

				через 48 часов вы получите
				<br> <span id="after_48">---</span>p
				<br> каждые 9 минут вы будете получать
				<br> <span id="per_9">---</span>p

			</div>
		</div>
	</div>	
	<script>
		var amount = document.getElementById('id_amount');
		var type = document.getElementById('id_deposit_type');
		
		var after_48 = document.getElementById('after_48');
		var per_9 = document.getElementById('per_9');
		
		var about_count = function(e) {
			let temp_type = type.selectedOptions[0].textContent;
			let temp_amount = parseFloat(amount.value) / 100;
			
			if (temp_amount != 0 && temp_type != '---------') {
				let persentage = parseFloat(temp_type.split('%')[0]);
				let res = 320 * (temp_amount * persentage);

				after_48.innerHTML = res;
				per_9.innerHTML = (temp_amount * persentage);
				res = 0;
			}
		}

		amount.onchange = about_count;
		type.onchange = about_count;

	</script>
{% endblock %}

