{% extends 'prof_base.html' %}

{% block title %}
	Пополнение
{% endblock %}

{% block map-display %}
	<h2>
		Пополнение
	</h2>
{% endblock %}


{% block subcontent  %}
	<div class="three-columns destroy-grid">
		<div class="variable-show span-two">
			<div>
				<h2>
					Пополниет баланс
				</h2>			
			</div>
			<div>
				<div>
					Выберите план
				</div>
				<div>
					Платежная система
				</div>
				<div>
					Сумма
				</div>		
			</div>
		</div>
		<div class="variable-show">
			<div>
				<h3>
					Расчет прибыли
				</h3>					
			</div>
			<div>

				через 34-68 часов вы получите
				<br> 120 000,00
				<br> каждые 9 минут вы будете получать
				<br> 530,70

			</div>
		</div>
	</div>
	<div>

	</div>

{% endblock %}