{% extends 'prof_base.html' %}

{% block title %}
	Пополнение
{% endblock %}

{% block map-display %}
	<h2>
		Пополнение
	</h2>
{% endblock %}


{% block subcontent  %}
	{% if notification %}
	<div class="green-notification">
		<div class="green-notification-title">
			Уведомление!
		</div>
		<div class="green-notification-text">
			{{ notification }}
		</div>
	</div>
	{% endif %}
	<div class="three-columns destroy-grid">
		<div class="variable-show span-two">
			<div>
				<h2>
					Пополниет баланс
				</h2>			
			</div>
			<div>
				<div>
					Выберите план
				</div>

				<div>
					<form method="POST">
						{{ form.as_p }}
						{% csrf_token %}
						<div>
							<br>
							<input type="submit" value="Пополнить" class="button-for-light-back">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="variable-show">
			<div>
				<h3>
					Расчет прибыли
				</h3>					
			</div>
			<div>

				через 34-68 часов вы получите
				<br> 120 000,00
				<br> каждые 9 минут вы будете получать
				<br> 530,70

			</div>
		</div>
	</div>
	<div>

	</div>

{% endblock %}