
{% extends 'prof_base.html' %}

{% block title %}
	Вывод средств
{% endblock %}

{% block map-display %}
<h2>
	Вывод
</h2>
{% endblock %}


{% block subcontent  %}
	<div class="variable-show tight-40 no-padding">
		<div>
			<h2>
				Вывод средств
			</h2>
			<h4>
				<div>
					На Банковские карты выплаты идут от 5мин до 24 часов. <br>
					Перед тем, как сделать выплату, укажите кошелек в настройках!
				</div>	
			</h4>
		</div>

		<div>
			{% if notification %}
				<div class="notification">
					{{ notification }}
				</div>
			{% endif %}
			<form method="POST">
				<div class="three-columns">
					<div>
						Размер: 
					</div>	
					<div class="span-two">
						{{ form.amount }}
					</div>	
					<div>
						Куда: 
					</div>	
					<div class="span-two">
						{{ form.source }}
					</div>	

				</div>
				{% csrf_token %}
				<br>
	
				<input class="button-for-light-back" type="submit" value="Вывести">
			</form>
			<br>

		</div>	
	</div>

	<div class="variable-show">
		<div>
			<h2>
				История выплат
			</h2>
		</div>
		<div class="four-columns">
			<div>
				Дата	
			</div>
			<div class="span-two">
				Сумма	
			</div>
			<div>
				Статус
			</div>
			{% for trans in wthdraws %}
				<div>
					{{ trans.date.year }}.{{ trans.date.month }}.{{ trans.date.day }}
				</div>
				<div class="span-two">
					{{ trans.amount }}p
				</div>
				<div>
					{{ trans.status }}
				</div>
			{% endfor %}
		</div>	
	</div>
	
{% endblock %}
