
{% extends 'prof_base.html' %}

{% block title %}
	Вывод средств
{% endblock %}

{% block map-display %}
<h2>
	Вывод
</h2>
{% endblock %}


{% block subcontent  %}
	<div class="variable-show tight-40 no-padding">
		<div>
			<h2>
				{{ tx.withd0 }}
			</h2>
			<h4>
				<div>
					{{ tx.withd1 }} <br>
					{{ tx.withd2 }}
				</div>	
			</h4>
		</div>

		<div>
			{% if notification %}
				<div class="notification">
					{{ notification }}
				</div>
			{% endif %}
			<form method="POST">
				<div class="three-columns">
					<div>
						{{ tx.withd3 }}
					</div>	
					<div class="span-two">
						{{ form.amount }}
					</div>
					<div>
						{{ form.comment }}
					</div>
				</div>
				{% csrf_token %}
				<br>
	
				<input class="button-for-light-back" type="submit" value="Вывести">
			</form>
			<br>

		</div>	
	</div>

	<div class="variable-show">
		<div>
			<h2>
				{{ tx.withd5 }}
			</h2>
		</div>
		<div class="four-columns">
			<div>
				{{ tx.withd6 }}
			</div>
			<div class="span-two">
				{{ tx.withd7 }}
			</div>
			<div>
				{{ tx.withd8 }}
			</div>
			{% for trans in wthdraws %}
				<div>
					{{ trans.date.year }}.{{ trans.date.month }}.{{ trans.date.day }}
				</div>
				<div class="span-two">
					{{ trans.amount }}p
				</div>
				<div>
					{{ trans.status }}
				</div>
			{% endfor %}
		</div>	
	</div>
	
{% endblock %}
