{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style_base.css' %}">
	<title>{% block title %}Rich Group{% endblock %}</title>
</head>
<body>
	<div class="top-header">
		<div class="centered content-width">
			<div class="five-column-grid">
				<div>
					<a href="{% url 'core:about_us' %}">О нас</a>
				</div>
				<div>
					<a href="{% url 'core:reviews' %}">Обзоры</a>
				</div>
				<div>
					<h4>
						<a href="{% url 'core:main' %}">RichGroup</a>
					</h4>
				</div>
				<div>
					<a href="{% url 'core:partners' %}">Партнерам</a>
				</div>
				<div>
					<a href="{% url 'core:faq' %}">FAQ</a>
				</div>	
	
			</div>
		</div>
	</div>
	<div class="centered content-width head-2">
		<div class="phone-padding">
			<div>
				<div>
					<a href="#" id="trans_but">рус/eng</a>
				</div>
			</div>
			<div>
				<div class="filler">
					<span>
						cryptoprofit@gmail.com
					</span>
				</div>
				<div class="phone-span-two">
					{% if request.user.is_authenticated %}
					<div class="inline-bastards">
						<div>
							<svg class="svg-snoweb svg-snoweb-dark svg-theme-light" height="100" preserveaspectratio="xMidYMid meet" viewbox="0 0 100 100" x="0" xmlns="http://www.w3.org/2000/svg" y="0">
								<path class="svg-fill-primary" d="M53.3,13.9a4.7,4.7,0,0,0-6.6,0L13.9,46.7a4.7,4.7,0,0,0,0,6.6,4.8,4.8,0,0,0,6.7,0l1.3-1.4V82.7a4.7,4.7,0,0,0,4.7,4.7H36a4.7,4.7,0,0,0,4.6-4.7V73.4a4.7,4.7,0,0,1,4.7-4.7h9.4a4.7,4.7,0,0,1,4.7,4.7v9.3A4.7,4.7,0,0,0,64,87.4h9.4a4.7,4.7,0,0,0,4.7-4.7V51.9l1.3,1.4a4.8,4.8,0,0,0,6.7,0,4.7,4.7,0,0,0,0-6.6Z">
								</path>
							</svg>	
						</div>
						<div>
							<a href="{% url 'users:profile' %}">{{ request.user.username|title }}</a>
						</div>
					</div>
					{% else %} 
						<a href="{% url 'users:login' %}">Login</a> 
					{% endif %}	
				</div>		
			</div>	
		</div>
	</div>

	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
	<div class="pagebottom">
		<div class="centered content-width">
			<div class="four-columns pagebottom-grid split-to-half">
				<div>
					<h3>
						Написать нам:
					</h3>
					<div>
						our@gmail.com
					</div>		
				</div>
				<div>
					<h3>
						Мы в соц сетях
					</h3>
					<div class="inline-bastards dark-child-highligth">
						<div style="background-color: rgba(44, 44, 255, 0.3);">
							<a href="#">
								vk
							</a>
						</div>
						<div style="background-color: rgba(0, 0, 139, 0.3);">
							<a href="#">
								tg
							</a>
						</div>	
					</div>
				</div>
				<div class="dark-child-highligth">
					<div>
						<a href="{% url 'users:login' %}">
							Логин
						</a>
					</div>
					<div>
						<a href="{% url 'users:register' %}">
							Регистрация
						</a>
					</div>
					<div>
						<a href="{% url 'users:profile' %}">
							профиль
						</a>
					</div>
				</div>
				<div class="dark-child-highligth">
					<div>
						<a href="{% url 'core:faq' %}">
						FAQ
					</a>
					</div>
					<div>
						<a href="{% url 'core:partners' %}">
							Партнерам
						</a>
					</div>
					<div>
						<a href="{% url 'core:about_us' %}">
							Контакты
						</a>
					</div>
				</div>
			</div>
	
		</div>
	</div>
</body>
{% block domready %}
{% endblock %}
<script>
	var trans_but = document.getElementById('trans_but');
	trans_but.onclick = function() {
		console.log(document.cookie)
		
		if (document.cookie.includes('lang=ru')){
			document.cookie = 'lang=; max-age=-1; path=/;';
			document.cookie = 'lang=en;';
		} else {
			document.cookie = 'lang=; max-age=-1; path=/;';
			document.cookie = 'lang=ru;';
		}
		window.location.reload();
	}
</script>
</html>