{% extends 'base.html' %}
{% load static %}


{% block title %}
	О нас
{% endblock %}


{% block content %}
<div class="cool-back" style="padding-bottom:5rem; background: linear-gradient(-45deg, rgb(44, 116, 137,0.5), rgb(0, 12, 87, 0.4)), url('static/imgs/abstract-geometric-shapes-wallpaper-2880x900_60.jpg')">
	<div class="centered content-width">
		<h1>
			{{ tx.about_us }}
		</h1>
		<div>
			{{ info_about_us_udner_tit }}
		</div>
	
	</div>
</div>
<div class="centered content-width">
	<div class="phone-padding">
		<br>
		<h3>
			RichGroup
		</h3>
		<div class="three-columns destroy-grid">
			<div class="span-two">
				{{ tx.about_us_big_text }}
		   </div>
		   <div class="pictre-placeholder filler">
				<img src="{% static 'imgs/attachment.png' %}" alt="" class="mid-pic">
		   </div>
	   
		</div>	
	</div>
</div>
<br>
<br>
<br>
<div class="centered content-width">
	<div class="phone-padding">
		<div class="centered">
			<h2 class="blue-text">
				{{ tx.why_us }}
			</h2>
			<h5>
				{{ tx.richgroup_why_us_lil }}
			</h5>	
		</div>
		<br>

		<div class="four-columns destroy-grid" style="text-align: center;">
			<div class="info-block block-push">
				<div class="pictre-placeholder">
					<img src="{% static 'imgs/istockphoto-538595396-612x612.jpg' %}" alt="" class="small-img">
				</div>
				<br>
				<h4>
					{{ tx.trust_invest }}
				</h4>
				<br>
				<div>
					{{ tx.trust_invest_text }}
				</div>
			</div>
			<div class="info-block block-push">
				<div class="pictre-placeholder">
					<img src="{% static 'imgs/istockphoto-1146425090-612x612.jpg' %}" alt="" class="small-img">
				</div>
				<br>
				<h4>
					{{ tx.partners_program }}
				</h4>
				<br>
				<div>
					{{ tx.partners_program_text }}
				</div>
			</div>
			<div class="info-block block-push">
				<div class="pictre-placeholder">
					<img src="{% static 'imgs/investing-concept-illustration_114360-3555.avif' %}" alt="" class="small-img">
				</div>
				<br>

				<h4>
					{{ tx.simple_sys }}
				</h4>
				<br>
				<div>
					{{ tx.simple_sys_text }}
				</div>
			</div>
			<div class="info-block block-push">
				<div class="pictre-placeholder">
					<img src="{% static 'imgs/investor-investing-in-stocks-2996652-2499493.webp' %}" alt="" class="small-img">
				</div>
				<br>
				<h4>
					{{ tx.best_people }}
				</h4>
				<br>
				<div>
					{{ tx.best_people_text }}
				</div>
			</div>
		</div>	
	</div>
</div>
<br>
<br>
<div class="centered">
	<div class="phone-padding">
		<h3>
			{{ tx.richgroup_is_2 }}
		</h3>
		<div>
			{{ tx.the_most_the_most }}
		</div>
		<br>
		<a href="{% url 'users:register' %}">
			<div class="button-for-light-back">
				{{ tx.register_now }}
			</div>		
		</a>
	</div>
</div>
{% endblock %}