{% extends 'base.html' %}

{% block title %}
	FAQ
{% endblock %}

{% block content %}
<div class="centered content-width">
	<div class="phone-padding two-columns destroy-grid">
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					КАКАЯ МИНИМАЛЬНАЯ И МАКСИМАЛЬНАЯ СУММА ДЕПОЗИТА?
				</h3>	
			</div>
			<div>
				Минимальный размер депозита – 100.00. <br> Максимальный размер депозита – 1 000 000.00 	
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					СКОЛЬКО МОЖНО РЕГИСТРИРОВАТЬ АККАУНТОВ?		
				</h3>
				</div>
			<div>
				Каждый инвестор имеет права, только на один аккаунт, это сделано, чтобы не создавали цепочки рефералов с одного IP-адреса, так как это наказывается блокировкой всех аккаунтов.		
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					СКОЛЬКО ПО ВРЕМЕНИ ЗАНИМАЕТ ПОПОЛНЕНИЕ ЛИЧНОГО КАБИНЕТА?
				</h3>
			</div>
			<div>
				Все платежные системы пополняются сразу, в автоматическом режиме.		
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					МОЖНО ЛИ СОЗДАВАТЬ СРАЗУ НЕСКОЛЬКО ДЕПОЗИТОВ?
				</h3>
				</div>
			<div>
				Да, можно.	
			</div>
		</div>

		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					ВЫ ГАРАНТИРУЕТЕ КОНФИДЕНЦИАЛЬНОСТЬ ЛИЧНОЙ ИНФОРМАЦИИ ИНВЕСТОРОВ?
				</h3>
				</div>

			<div>
				Да, гарантируем. Персональная информация наших инвесторов не передается третьим лицам, в соответствии с законом о защите прав потребителя.
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					У ВАС ЕСТЬ ДОКУМЕНТЫ, ПОДТВЕРЖДАЮЩУЮ ВАШУ ИНВЕСТИЦИОННУЮ ДЕЯТЕЛЬНОСТЬ?
				</h3>
			</div>

			<div>
				Да, вы можете перейти в раздел документация и проверить наши документы в любом, удобном для Вас реестре.		
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					ЕСТЬ ЛИ ОГРАНИЧЕНИЯ НА СУММУ ВЫВОДА ДЕНЕЖНЫХ СРЕДСТВ?
				</h3>
				</div>

			<div>
				Компания не ставит ограничений на суммы вывода денежных средств. Все что находится у инвестора на личном счету, он может вывести в любое удобное время. Минимальная сумма для выплаты на платежные системы 10 рублей, на Банковские карты,TRON(Trx) 100 рублей, на Binance Coin(BNB),USDT(TRC20) - 200 рублей.		
			</div>
		</div>

		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					КАК НАЧАТЬ РАБОТАТЬ С НАШЕЙ КОМПАНИЕЙ?
				</h3>
			</div>

			<div>
				Для того, чтобы начать работать с нашей компанией , Вам необходимо пройти простую процедуру регистрации на нашем сайте. Далее, Вам необходимо пополнить депозит, выбрав соответствующий раздел в своем личном кабинете. После чего вся инвестиционная работа будет проводиться нашей компанией, а Вы в свою очередь будете получать с этого ежедневный доход.	
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					С КАКИМИ ЭЛЕКТРОННЫМИ ВАЛЮТАМИ РАБОТАЕТ НАША КОМПАНИЯ?	
				</h3>
			</div>

			<div>
				На данный момент, наша компания работает с платежными системами Payeer, Qiwi, PerfectMoney, Yoomoney, Visa/Mastercard/МИР, Bitcoin, Tron(TRX), USDT(TRC20),Binance Coin(BNB). Со временем, мы будем увеличивать количество платежных систем.
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					Я НЕ НАШЕЛ В СПИСКЕ ОТВЕТ НА МОЙ ВОПРОС?
				</h3>
			</div>

			<div>
				Если в FAQ, Вам, по каким-то причинам, не удалось найти ответ на ваш вопрос, то вы можете обратиться в нашу службу технической поддержки. Вся контактная информация находится на странице «О нас»
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					ЯВЛЯЕТСЯ ЛИ ВАША КОМПАНИЯ ФИНАНСОВОЙ ПИРАМИДОЙ?		
				</h3>
			</div>

			<div>
				Нет, финансовая пирамида работает за счёт постоянного привлечения денежных средств. Доход первым участникам пирамиды выплачивается за счет вкладов последующих участников. Подобная подмена является мошенничеством. Наша компания инвестирует средства в криптовалюту, 95% всех наших сделок проходит с большой прибылью .
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					КАК ЧАСТО ОСУЩЕСТВЛЯЮТСЯ НАЧИСЛЕНИЯ? И НАСКОЛЬКО БЫСТРО ПРОИЗВОДЯТСЯ ВЫПЛАТЫ?
				</h3>
			</div>

			<div>
				Прибыль от инвестиции начисляется каждые 9 минут. Обработка заявок на вывод средств полностью автоматическая, ваши дивиденды будут мгновенно поступать на ваш кошелек, который вы указали в настройках.		
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					МОЖНО ЗАРАБАТЫВАТЬ БЕЗ ВЛОЖЕНИЯ?
				</h3>
			</div>

			<div>
				Вы можете зарабатывать без вложений, приглашая партнеров, с каждого партнера ,вы будете получать 17-2-1-0.5-0.5%. Так же есть возможность увеличить реферальный процент, подняв свой статус! Подробнее с партнерской программой вы можете ознакомится в разделе: Партнерам.
			</div>
		</div>
	
	</div>	
</div>
{% endblock %}

