{% extends 'base.html' %}

{% block title %}
	FAQ
{% endblock %}

{% block content %}
<div class="centered content-width">
	<div class="phone-padding two-columns destroy-grid">
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq0 }}
				</h3>	
			</div>
			<div>
				{{ tx.faq1 }} <br>
				{{ tx.faq2 }}
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq3 }}
				</h3>
				</div>
			<div>
				{{ tx.faq4 }}
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq5 }}
				</h3>
			</div>
			<div>
				{{ tx.faq6 }}
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq7 }}
				</h3>
				</div>
			<div>
				{{ tx.faq8 }}
			</div>
		</div>

		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq9 }}
				</h3>
				</div>
			<div>
				{{ tx.faq10 }}
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq11 }}
				</h3>
			</div>

			<div>
				{{ tx.faq12 }}
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq13 }}
				</h3>
				</div>

			<div>
				{{ tx.faq14 }}
			</div>
		</div>

		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq15 }}
				</h3>
			</div>

			<div>
				{{ tx.faq16 }}
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq17 }}
				</h3>
			</div>

			<div>
				{{ tx.faq18 }}
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq19 }}
				</h3>
			</div>
			<div>
				{{ tx.faq20 }}
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq21 }}
				</h3>
			</div>

			<div>
				{{ tx.faq22 }}
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq23 }}
				</h3>
			</div>

			<div>
				{{ tx.faq24 }}
			</div>
		</div>
		<div class="info-block block-push">
			<div class="info-block-colored-title-top">
				<h3>
					{{ tx.faq25 }}
				</h3>
			</div>

			<div>
				{{ tx.faq26 }}
			</div>
		</div>
	
	</div>	
</div>
{% endblock %}

