{% extends 'base.html' %}

{% block title %}
	Партнерам
{% endblock %}


{% block content %}
<div class="cool-back" style="padding-bottom:5rem; background: linear-gradient(-45deg, rgb(44, 116, 137,0.6), rgb(0, 12, 87, 0.6)), url('static/imgs/abstract-geometric-shapes-wallpaper-2880x900_60.jpg')">
	<div class="tight-30 centered">
		<h1>
			Партнерам
		</h1>
		<br>

		<div class="cool-line">		
		</div>
		<h4>
			Мы заинтересованы в том, чтобы наши постоянные инвесторы привлекали новых инвесторов. Именно поэтому мы предусмотрели наличие партнерской программы, которая не будет причинять убытка инвестициям, но будет тщательно поощрять наших партнеров.
		</h4>
	</div>
	<br>

</div>

<div class="centered content-width">
	<div class="centered info-block tight-50" style="margin-top: -1.5rem;">
		<h2 class="centered">
			3 статуса партнерской программы
		</h2>
		<div class="three-columns destroy-grid">
			<div class="variable-show">
				<div>
					Статус: "Member"

				</div>
				<div>
					<div>
						0,00 RUB
					</div>
					Пополнения рефералов
	
				</div>
			</div>
			<div class="variable-show">
				<div>
					Статус: "Partner"
				</div>
				<div>
					<div>
						25 000,00 RUB
					</div>
					Пополнения рефералов		
				</div>
			</div>
			<div class="variable-show">
				<div>
					Статус: "Curator"
				</div>
				<div>
					<div>
						50 000,00 RUB
					</div>
					Пополнения рефералов
				</div>
			</div>
		</div>

	</div>
	
</div>

{% endblock %}