{% extends 'base.html' %}

{% block title %}
	Партнерам
{% endblock %}


{% block content %}
<div class="cool-back">
	<div class="tight-30 centered">
		<h1>
			Партнерам
		</h1>
		<br>

		<div class="cool-line">		
		</div>
		<h4>
			Мы заинтересованы в том, чтобы наши постоянные инвесторы привлекали новых инвесторов. Именно поэтому мы предусмотрели наличие партнерской программы, которая не будет причинять убытка инвестициям, но будет тщательно поощрять наших партнеров.
		</h4>
	</div>
	<br>

</div>

<div class="centered content-width">
	<div class="centered info-block tight-50" style="margin-top: -1.5rem;">
		<h2 class="centered">
			3 статуса партнерской программы
		</h2>
		<div class="three-columns destroy-grid">
			<div class="variable-show">
				<div>
					Статус: "Member"

				</div>
				<div>
					<div>
						0,00 RUB
					</div>
					Пополнения рефералов
	
				</div>
			</div>
			<div class="variable-show">
				<div>
					Статус: "Partner"
				</div>
				<div>
					<div>
						25 000,00 RUB
					</div>
					Пополнения рефералов		
				</div>
			</div>
			<div class="variable-show">
				<div>
					Статус: "Curator"
				</div>
				<div>
					<div>
						50 000,00 RUB
					</div>
					Пополнения рефералов
				</div>
			</div>
		</div>

	</div>
	
</div>

{% endblock %}