{% extends 'base.html' %}

{% block title %}
	Партнерам
{% endblock %}


{% block content %}
<div class="cool-back" style="padding-bottom:5rem; background: linear-gradient(-45deg, rgb(44, 116, 137,0.6), rgb(0, 12, 87, 0.6)), url('static/imgs/abstract-geometric-shapes-wallpaper-2880x900_60.jpg')">
	<div class="tight-30 centered">
		<h1>
			{{ tx.partner0 }}
		</h1>
		<br>

		<div class="cool-line">		
		</div>
		<h4>
			{{ tx.partner1 }}
		</h4>
	</div>
	<br>

</div>

<div class="centered content-width">
	<div class="centered info-block tight-50" style="margin-top: -1.5rem;">
		<h2 class="centered">
			{{ tx.partner2}}
		</h2>
		<div class="three-columns destroy-grid">
			<div class="variable-show">
				<div>
					{{ tx.partner3 }}
				</div>
				<div>
					<div>
						{{ tx.partner4 }}
					</div>
					{{ tx.partner5 }}	
				</div>
			</div>
			<div class="variable-show">
				<div>
					{{ tx.partner6 }}	
				</div>
				<div>
					<div>
						{{ tx.partner7 }}	
					</div>
					{{ tx.partner8 }}	
				</div>
			</div>
			<div class="variable-show">
				<div>
					{{ tx.partner9 }}
				</div>
				<div>
					<div>
						{{ tx.partner10 }}
					</div>
					{{ tx.partner11 }}
				</div>
			</div>
		</div>

	</div>
	
</div>

{% endblock %}