{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="cool-back" style="padding-bottom:5rem; background: linear-gradient(-45deg, rgb(44, 116, 137,0.5), rgb(0, 12, 87, 0.4)), url('static/imgs/abstract-geometric-shapes-wallpaper-2880x900_60.jpg')">
	<div class="content-width centered">
		<h1>
			{{ tx.reviews0 }}
		</h1>
		<div>
			{{ tx.reviews1 }}
		</div>
	</div>
</div>

<div class="content-width centered">
	<div id="reviews-grid" class="centered">
		<div class="info-block">
			<div class="inline-bastards stylized-back">
				<div>
					<img src="{% static 'imgs/ZgomxucUag4.jpg' %}" alt="" class="review-prof-pic">
				</div>
				<div>
					<h2>
						{{ tx.reviews3 }}
					</h2>	
				</div>
			</div>
			<div>
				{{ tx.reviews4 }}
			</div>
		</div>
		<div class="info-block">
			<div class="inline-bastards stylized-back">
				<div>
					<img src="{% static 'imgs/unnamed.jpg' %}" alt="" class="review-prof-pic">
				</div>
				<div>
					<h2>
						{{ tx.reviews6 }}
					</h2>	
				</div>
	
			</div>
			<div>
				{{ tx.reviews7 }}
			</div>
		</div>
	</div>
</div>
{% endblock %}