{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="cool-back" style="padding-bottom:5rem; background: linear-gradient(-45deg, rgb(44, 116, 137,0.2), rgb(0, 12, 87, .8)), url('static/imgs/abstract-geometric-shapes-wallpaper-2880x900_60.jpg')">
	<div class="centered content-width">
		<div class="centered tight-30">
			<h1 style="text-transform: uppercase;">

				{{ tx.main_page_big_text_1 }}

			</h1>
			<div class="cool-line tight-10" style="margin-top: 1rem; margin-bottom: 0.5rem">
			</div>
			<h4 class="tight-30 centered">
				{{ tx.main_page_text_under_big_one }}
			</h4>
			<br>
			<br>
			<div class="button-on-dakr-back  scroll-down-a-little">
				{{ tx.learn_more }}
			</div>
		</div>
	</div>
</div>

w<div class="centered content-width">
	<div style="padding: .5rem; margin-top: -2rem;">
		<div class="info-block" style="padding-bottom: 1.5rem;">
			<div class="three-columns destroy-grid">
				<div class="three-columns span-two">
					<div class="span-three">
						<h3>
							{{ tx.culculate_earnings }}
						</h3>
					</div>
					<div class="span-three">
						<input class="earn-slider-line" type="range" min="100" max="300000">
					</div>

					<div class="variable-show">
						<div>
							{{ tx.per_daynight }}
						</div>
						<div>
							<span id="per_day_income">
								- - -
							</span>
							p
						</div>
					</div>
					<div class="variable-show">
						<div>
							{{ tx.summ }}
						</div>
						<div>
							<span id="amount-input">
								- - -
							</span>р
						</div>
					</div>
					<div class="variable-show">
						<div>
							{{ tx.ernings }}
						</div>
						<div>
							<span id="income_150">
								- - -
							</span>
							p
						</div>
					</div>
				</div>

				<div style="padding-left: 2rem;">
					<h3>
						{{ tx.invest_proposition }}

					</h3>
					<div>
						{{ tx.141_per_68 }}
					</div>
					<div>
						{{ tx.0311_each_9_min }}
					</div>
					<div>
						{{ tx.deposits_from_100 }}
					</div>
					<div>
						{{ tx.earnings_withdraw }}
					</div>
				</div>

			</div>
			<div class="centered button-for-light-back" style="margin-top: 1rem;">
				<a href="{% url 'users:register' %}">
					{{ tx.open_deposit }}
				</a>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="centered content-width">
	<div class="phone-padding">
		<div class="two-columns destroy-grid">
			<div>
				<h2>
					{{ tx.Short_about_us }}
				</h2>
				<br>
				<div>
					{{ tx.main_page_about_1 }}
				</div>
				<br>
				<div>
					{{ tx.main_page_about_2 }}
				</div>
				<br>
				<br>
				<div class="button-for-light-back" style="width:fit-content">
					<a href="{% url 'core:about_us' %}">
						{{ tx.morew }}
					</a>
				</div>
			</div>
			<div class="filler">
				<div class="pictre-placeholder">
					<img src="{% static 'imgs/investor-with-laptop-monitoring-growth-dividends-trader-sitting-stack-money-investing-capital-analyzing-profit-graphs-vector-illustration-finance-stock-trading-investment_74855-8432.avif' %}" 
					style="height: 20rem; " class="block-push">
				</div>
				<div class="three-columns">
					<div class="mistic-20">
						Регистрация
					</div>
					<div class="mistic-20 mistic-green-dark">
						Депозит
					</div>
					<div class="mistic-20 mistic-green-isumrud">
						Прибыль
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="centered content-width">
	<div style="padding: .5rem;">
		<div class="info-block">
			<h2 class="centered blue-text">
				{{ tx.live_stats }}
			</h2>
			<h5 class="centered">
				{{ tx.jelosy_bite }}
			</h5>
			<br>
			<div class="four-columns split-to-half">
				<div class="inline-bastards">
					<div class="pictre-placeholder">
						<img src="{% static '/imgs/istockphoto-1287201284-612x612.jpg' %}" alt="" class="small-img">
					</div>
					<div>
						<div>
							{{ tx.workign_days }}
						</div>
						<div>
							<h1>
								100
							</h1>
						</div>
					</div>
				</div>
				<div class="inline-bastards">
					<div class="pictre-placeholder">
						<img src="{% static 'imgs/26f535b0-6f9a-4379-a471-304e5fd76d3f.jpg' %}" alt="" class="small-img">
					</div>
					<div>
						<div>
							{{ tx.users }}
						</div>
						<div>
							<h1>
								{{ users_amount }}
							</h1>
						</div>
					</div>
				</div>
				<div class="inline-bastards">
					<div class="pictre-placeholder">
						<img src="{% static 'imgs/istockphoto-538595396-612x612.jpg' %}" alt="" class="small-img">
					</div>
					<div>
						<div>
							{{ tx.invested }}
						</div>
						<div>
							<h1>
								{{ invested }}
							</h1>
						</div>
					</div>
				</div>
				<div class="inline-bastards">
					<div class="pictre-placeholder">
						<img src="{% static 'imgs/contactless-payment-illustration-concept-with-woman-character-vector.webp' %}" alt="" class="small-img">
					</div>
					<div>
						<div>
							{{ tx.payed_off }}
						</div>
						<div>
							<h1>
								{{ payed_off }}
							</h1>
						</div>
					</div>
				</div>
			</div>
		
			<br>
			<!-- <br> -->
			<!-- <br> -->
<!--  -->
			<!-- <div class="three-columns" style="text-align: center"> -->
				<!-- <div> -->
					<!-- <h3> -->
						<!-- Последние пополнения: -->
					<!-- </h3> -->
					<!-- <div class="three-columns"> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
<!--  -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div> -->
					<!-- <h3> -->
						<!-- Последние выплаты: -->
					<!-- </h3> -->
					<!-- <div class="three-columns"> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
<!--  -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div> -->
					<!-- <h3> -->
						<!-- Топ <br class="for-phone"> партнеров: -->
					<!-- </h3> -->
					<!-- <div class="three-columns"> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
						<!-- <div> -->
							<!-- --------- -->
						<!-- </div> -->
					<!-- </div> -->
				<!-- </div> -->
			<!-- </div> -->
			<!-- <br> -->
		</div>
	</div>
</div>
<br>
<br>
<div class="centered content-width">
		<h2 class="centered">
			{{ tx.our_pros }}
		</h2>
		<h5 class="centered">
			{{ tx.why_us }}
		</h5>
		<div class="three-columns destroy-grid-wide center-text-phone">
			<div class="info-block block-push">
				<div class="pictre-placeholder">
					<img src="{% static 'imgs/payment-via-digital-wallet-3678915-3135973.webp' %}" class="mid-pic">
				</div>
				<h3>
					{{ tx.everyday_earnings }}
				</h3>
				<br>
				<div>
					{{ tx.main_page_daily_income }}
				</div>
			</div>
			<div class="info-block block-push">
				<div class="pictre-placeholder">
					<img src="{% static 'imgs/workplace-safety-illustration-exclusive-design-inspiration-vector.webp' %}" class="mid-pic">
				</div>
				<h3>
					{{ tx.concrite_system }}
				</h3>
				<br>
				<div>
					{{ tx.concrite_explain }}
				</div>
			</div>
			<div class="info-block block-push">
				<div class="pictre-placeholder">
					<img src="{% static 'imgs/istockphoto-1146425090-612x612.jpg' %}" class="mid-pic">
				</div>
				<h3>
					{{ tx.we_are_trustworthy }}
				</h3>
				<br>
				<div>
					{{ tx.trustworthy_explained }}
				</div>
			</div>
		</div>
</div>

<div class="centered content-width">
	<h4>
		Мы принимаем:
	</h4>
	<div class="inline-bastards">
		<div>
			<img src="https://intellectmoney.ru/common/img/uploaded/banners/maestro_logo_100x60.png" alt="">
		</div>
		<div>
			<img src="https://intellectmoney.ru/common/img/uploaded/banners/mastercard_logo_100x60.png">
		</div>
		<div>
			<img src="https://intellectmoney.ru/common/img/uploaded/banners/visa_logo_100x31.png" alt="">
		</div>
	</div>
</div>

<div id="chat-room" class="chat-room-non-active">
	<div id="chat-closer">
		{{ tx.open }}
	</div>
	<div id="chat" >
		{{ tx.send_message }}
		
	</div>
	<div id="chat-input">
		<input type="text" placeholder="Сообщение" id="chat_message_input">
		<input type="submit" value="Отправить" class="button-for-light-back message-but" id="chat_message_submit">
	</div>
</div>


<script>
	var scrollbut = document.getElementsByClassName('scroll-down-a-little')[0];
	scrollbut.onclick = function(e){
		window.scroll(0, 800);
	}
</script>

<script>
	var input_value = document.getElementsByClassName('earn-slider-line')[0];
	
	var amount_ = document.getElementById('amount-input');
	var income_140 = document.getElementById('income_150');
	var per_day_income = document.getElementById('per_day_income');
	input_value.onchange = function(e){
		// console.log(input_value.value);
		amount_.innerHTML = input_value.value;

		let res = parseFloat(input_value.value) * 1.40883;
		income_140.innerHTML = res.toFixed(2);

		let per_day = parseFloat(input_value.value) * 0.4976;
		per_day_income.innerHTML = per_day.toFixed(2);
	};
</script>

{% endblock %}

{% block domready %}
	<script>
		var url = 'wss://' + window.location.host + '/ws/';
		var ChatSocket = new WebSocket(url);

		var chat_place = document.getElementById('chat');
		var chat_mesage_input = document.getElementById('chat_message_input');
		var chat_mesage_submit = document.getElementById('chat_message_submit');

		var my_messages = [];


		// logging
		ChatSocket.onopen = function() {
			console.log('Chat socket successfully opened');
		};

		ChatSocket.onclose = function(e) {
			console.error('Chat socket closed unexpectedly('+ e.code +')');
		};

		// recieving message and adding to chat
		ChatSocket.onmessage = function(e) {
			if (chat_place.innerHTML.includes('Напишите вопрос...')){
				chat_place.innerHTML = '';
			}

			let data = JSON.parse(e.data);
			let message = data['message'];			
			let classes = 'chat-message ';
			if (my_messages.includes(message)){
				classes += ' my_message'
			}

			chat_place.innerHTML += '<div><div class="'+classes+'">' + message + '</div></div>';
			chat_place.scrollTop = chat_place.scrollHeight;

		};

		// sending message
		chat_mesage_submit.onclick = function(e) {
			let message_text = chat_mesage_input.value;
			my_messages.push(message_text)

			if (message_text) {
				ChatSocket.send(
					JSON.stringify(
						{'message': message_text}
					)
				);

				chat_mesage_input.value = '';
				chat_mesage_input.focus();
			};
		};

		// presssing enter
		chat_mesage_input.onkeydown = function(e){
			if(e.keyCode == 13){
				chat_mesage_submit.click();
			}
		}
	</script>

	<script>
		var chat_room = document.getElementById('chat-room')
		var closer = document.getElementById('chat-closer');
		closer.onclick = function(e) {
			if (closer.innerHTML.includes('скрыть')) {
				closer.innerHTML = 'открыть'
			} else {
				closer.innerHTML = 'скрыть'
			}

			if (chat_room.classList.value.includes('chat-room-non-active')){
				chat_room.classList.remove('chat-room-non-active');
			} else {
				chat_room.classList.add('chat-room-non-active');
			}
		}
	</script>

{% endblock %}