{% extends 'base.html' %}


{% block content %}
<div class="cool-back" style="padding-bottom:5rem; background: linear-gradient(-45deg, rgb(44, 116, 137,0.5), rgb(0, 12, 87, 0.4)), url('static/imgs/abstract-geometric-shapes-wallpaper-2880x900_60.jpg')">
	<div class="centered content-width">
		<div class="centered tight-30">
			<h1 style="text-transform: uppercase;">
				Эксперты в торгах крипто-валют: мы имеем богатый опыт и готовы поделиться им с вами.
			</h1>
			<div class="cool-line tight-10" style="margin-top: 1rem; margin-bottom: 0.5rem">
			</div>
			<h4 class="tight-30 centered">
				oken-fund.cc ваш маяк в мире инвестиций на крипто валютном рынке. Трейдеры нашей компании торгуют на
				рынке более пяти лет.
			</h4>
			<br>
			<br>
			<div class="button-on-dakr-back centered scroll-down-a-little">
				Узнать больше
			</div>
		</div>
	</div>
</div>

<div class="centered content-width">
	<div style="padding: .5rem; margin-top: -2rem;">
		<div class="info-block" style="padding-bottom: 1.5rem;">
			<div class="three-columns destroy-grid">
				<div class="three-columns span-two">
					<div class="span-three">
						<h3>
							Расчитать прибыль:
						</h3>
					</div>
					<div class="span-three">
						<input class="earn-slider-line" type="range">						
					</div>

					<div class="variable-show">
						<div>
							За сутки:
						</div>
						<div>
							- - -
						</div>
					</div>
					<div class="variable-show">
						<div>
							Сумма:
						</div>
						<div>
							- - -
						</div>
					</div>
					<div class="variable-show">
						<div>
							Прибыль:
						</div>
						<div>
							- - -
						</div>
					</div>
				</div>

				<div style="padding-left: 2rem;">
					<h3>
						Инвестиционное предложение:
					</h3>
					<div>
						141% за 68 часов
					</div>
					<div>
						0.311% каждые 9 минут
					</div>
					<div>
						вклады от 100 RUB
					</div>
					<div>
						Вывод прибыли
					</div>
					<div>
						мгновенно
					</div>
				</div>

			</div>
			<div class="centered button-for-light-back" style="margin-top: 1rem;">
				<a href="{% url 'users:register' %}">
					Открыть депозит
				</a>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="centered content-width">
	<div class="phone-padding">
		<h2>
			КОРОТКО О НАС
		</h2>
		<br>
		<div class="two-columns destroy-grid">
			<div>
				<div>
					Трейдеры нашей компании торгуют на крипто валютном рынке более пяти лет. За это время было проверено,
					отобрано и разработано множество различных стратегий торговли. Но 2023 год был особенно успешным, так
					как нами были разработаны алгоритмы практически безубыточной торговли.
				</div>
				<br>
				<div>
					Эти инструменты предоставляют нашей команде широкие возможности, 95% всех наших операций с криптовалютой
					проходит с большой прибылью. В связи с этим было принято решение создать инвестиционный проект oken-fund
					для реализации наших амбициозных устремлений по занятию лидирующих позиций в сфере крипто валютной
					торговли.
				</div>
				<br>
				<br>
				<div class="button-for-light-back" style="width:fit-content">
					<a href="{% url 'core:about_us' %}">
						Подробнее
					</a>
				</div>
			</div>
			<div class="filler">
				<div class="pictre-placeholder">
					PICTURE
				</div>
				<div class="three-columns">
					<div>
						Регистрация
					</div>
					<div>
						Депозит
					</div>
					<div>
						Прибыль
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="centered content-width">
	<div style="padding: .5rem;">
		<div class="info-block">
			<h2 class="centered blue-text">
				ЖИВАЯ СТАТИСТИКА
			</h2>
			<h5 class="centered">
				Наблюдайте за тем, как люди зарабатывают
			</h5>
			<br>
			<div class="four-columns split-to-half">
				<div class="inline-bastards">
					<div class="pictre-placeholder">
						PIC
					</div>
					<div>
						<div>
							Работаем дней:
						</div>
						<div>
							----
						</div>
					</div>
				</div>
				<div class="inline-bastards">
					<div class="pictre-placeholder">
						PIC
					</div>
					<div>
						<div>
							Пользователей:
						</div>
						<div>
							----
						</div>
					</div>
				</div>
				<div class="inline-bastards">
					<div class="pictre-placeholder">
						PIC
					</div>
					<div>
						<div>
							Инвестировано:
						</div>
						<div>
							----
						</div>
					</div>
				</div>
				<div class="inline-bastards">
					<div class="pictre-placeholder">
						PIC
					</div>
					<div>
						<div>
							Выплачено:
						</div>
						<div>
							----
						</div>
					</div>
				</div>
			</div>
		
			<br>
			<br>


			<div class="three-columns">
				<div>
					<h3>
						Последние пополнения:	
					</h3>
					<div>
						---
					</div>
				</div>
				<div>
					<h3>
						Последние выплаты:
					</h3>
					<div>
						---
					</div>
				</div>
				<div>
					<h3>
						Топ партнеров:
					</h3>
					<div>
						---
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<div class="centered content-width">
		<h2 class="centered">
			НАШИ ПРЕИМУЩЕСТВА
		</h2>
		<h5 class="centered">
			Почему выбирают нас?
		</h5>
		<div class="three-columns destroy-grid center-text-phone">
			<div class="info-block block-push">
				<div class="pictre-placeholder">
					Picture
				</div>
				<h3>
					Ежедневный доход
				</h3>
				<br>
				<div>
					Мы предлагаем Вам невероятную возможность получать доход до 500% всего за 34-68 часов благодаря нашей
					опытной команде
				</div>
			</div>
			<div class="info-block block-push">
				<div class="pictre-placeholder">
					Picture
				</div>
				<h3>
					Надежная система
				</h3>
				<br>
				<div>
					На первое место мы ставим безопасность данных наших инвесторов и бесперебойную работоспособность
					инвестиционной платформы
				</div>
			</div>
			<div class="info-block block-push">
				<div class="pictre-placeholder">
					Picture
				</div>
				<h3>
					Нам доверяют
				</h3>
				<br>
				<div>
					За несколько лет работы мы достигли невероятных результатов. Начните обретать финансовую независимость
					уже сегодня
				</div>
			</div>
		</div>
</div>

<div class="centered content-width">
	<h4>
		Мы принимаем:
	</h4>
</div>

<script>
	var scrollbut = document.getElementsByClassName('scroll-down-a-little')[0];
	scrollbut.onclick = function(e){
		window.scroll(0, 800)
	}
</script>

{% endblock %}